<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu">
	<!-- 목록 리턴 -->
	<select id="getList"  parameterType="String"
		resultType="EduDto">
		SELECT id, place, major, edu_exp, TO_CHAR(start_date,'YYYY-MM-DD') start_date, TO_CHAR(end_date,'YYYY-MM-DD') end_date, num
		FROM tb_edu
		WHERE id = #{id}
		order by num asc
	</select>
	
	<update id="update" parameterType="EduDto">
		UPDATE tb_edu
		SET place = #{place}, major = #{major}, edu_exp = #{edu_exp},  start_date = #{start_date}, end_date = #{end_date}
		WHERE id=#{id} and num = #{num} 
		<!-- id=#{id} -->
	</update>
	
	<!-- getData -->
	<select id="getData" parameterType="int"
		resultType="EduDto">
		SELECT id, num, place, major, edu_exp, TO_CHAR(start_date,'YYYY-MM-DD') start_date, TO_CHAR(end_date,'YYYY-MM-DD') end_date
		FROM tb_edu
		WHERE num=#{num}
		<!-- id=#{id} -->
	</select>
	
	<!-- edu 삭제 -->
	<delete id="delete" parameterType="EduDto">
		DELETE FROM tb_edu
		WHERE id=#{id} and  num=#{num}
	</delete>
	
	<!-- edu DB삭제 -->
	<delete id="deleteAll" parameterType="String">
		DELETE FROM tb_edu
		WHERE id=#{id} 
	</delete>
	
	<!-- 추가 -->
	<insert id="insert" parameterType="eduDto">
		INSERT INTO tb_edu
		(num, id, place, major, edu_exp, start_date, end_date)
		VALUES(edu_seq.NEXTVAL, #{id}, #{place}, #{major}, #{edu_exp}, #{start_date}, #{end_date})
	</insert>
	
	<!-- 교육 이름으로 검색 -->
	<select id="search" parameterType="string" resultType="string">
		select distinct id
		from tb_edu
		where major like '%'||#{major}||'%'
	</select>


</mapper>



