<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ints">
	<!-- 삭제 -->
	<delete id="delete" parameterType="IntsDto">
		DELETE FROM tb_ints
		WHERE id=#{id} and num=#{num}
	</delete>
	
	<!--DB 삭제 -->
	<delete id="deleteAll" parameterType="String">
		DELETE FROM tb_ints
		WHERE id=#{id} 
	</delete>
	
	<!-- 수정 -->
	<update id="update" parameterType="IntsDto">
		UPDATE tb_ints
		SET ints_nm=#{ints_nm},ints_exp=#{ints_exp}
		WHERE id=#{id} and num=#{num}
	</update>
	<!-- 정보 리턴 -->
	<select id="getList" parameterType="String"
		resultType="IntsDto">
		SELECT num,id,ints_nm,ints_exp
		FROM tb_ints
		WHERE id=#{id}
	</select>
	<!-- 추가 -->
	<insert id="insert" parameterType="IntsDto">
		INSERT INTO tb_ints
		(id,ints_nm,ints_exp, num)
		VALUES(#{id}, #{ints_nm}, #{ints_exp},ints_seq.NEXTVAL)
	</insert>
	<!-- getData -->
	<select id="getData" parameterType="int"
		resultType="IntsDto">
		SELECT id,ints_nm,ints_exp,num
		FROM tb_ints
		WHERE num=#{num}
	</select>
</mapper>
