<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="skill">
	<!-- 삭제 -->
	<delete id="delete" parameterType="SkillsDto">
		DELETE FROM tb_skills
		WHERE id=#{id} and num=#{num}
	</delete>
	<!-- 수정 -->
	<update id="update" parameterType="SkillsDto">
		UPDATE tb_skills
		SET skill_nm=#{skill_nm},skill_exp=#{skill_exp}
		WHERE id=#{id} and num=#{num}
	</update>
	<!-- 정보 리스트 -->
	<select id="getList" parameterType="String"
		resultType="SkillsDto">
		SELECT num,id,skill_nm,skill_exp
		FROM tb_skills
		WHERE id=#{id}
	</select>
	<!-- getData -->
	<select id="getData" parameterType="int"
		resultType="SkillsDto">
		SELECT id,skill_nm,skill_exp,num
		FROM tb_skills
		WHERE num=#{num}
	</select>
	<!-- 추가 -->
	<insert id="insert" parameterType="SkillsDto">
		INSERT INTO tb_skills
		(id,skill_nm,skill_exp,num)
		VALUES(#{id}, #{skill_nm}, #{skill_exp},skills_seq.NEXTVAL)
	</insert>
	
	
	<delete id="deleteAll" parameterType="String">
		DELETE FROM tb_skills
		WHERE id=#{id}
	</delete>

	<!-- 기술 이름으로 검색 -->
	<select id="search" parameterType="string" resultType="string">
		select distinct id
		from tb_skills
		where skill_nm like '%'||#{skill_nm}||'%'
	</select>

</mapper>













